/* 
#grid-line {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw;
  grid-gap: 70px;
  height: 70vh;
  width: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 3em;
} */


div.cell {
  
  
  color: aliceblue;
  border-radius: 30px;
}